@model CartDto

<form method="post">
    <html>
    <head>

    </head>
    <body>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category Name</th>
                <th scope="col">Count</th>
                <th scope="col">Price</th>
            </tr>
           </thead>
            @{
                foreach (var cartObj in Model.CartDetails)
                {
                            <tr>
                                <td>

                                        <img style="width:150px; height:150ox" class="img-thumbnail" src="https://imgholder.ru/323x300/9dbf16/fff&text=image"/>

                                </td>
                                <td>@cartObj.Product.Name</td>
                                <td>@cartObj.Product.CategoryName</td>
                                <td>@cartObj.Count</td>
                                <td>@((cartObj.Product.Price).ToString("c"))</td>
                                <td>
                                    <a class="btn btn-danger" asp-action="Remove" asp-route-cartDetailsId="@cartObj.CartDetailsId" role="button">Delete</a>
                                </td>
                            </tr>
                }
            }

            </tbody>
        </table>
   <div class="row">
      <div class="col-6">
        <span>Coupon:</span>
        <input />
        <button type="submit" class="btn btn-sm btn-success">Apply</button>
      </div>
      <div class="col-6 text-end">
        <span class="text-danger" style="font-size:21px;"> Order Total : @Model.CartHeader.CartTotal<br /></span>
        <span class="text-success"> Order Discount : @Model.CartHeader.Discount</span>
      </div>
    </div>
    </body>
</html>
</form>
